<br><br>
<mat-card>
    <mat-card-header>
        Assignment title
    </mat-card-header>
    <mat-card-content>
        <div class="good_font1">
            <p>Assignment short description</p>
        </div>
    </mat-card-content>
    <br>
    <mat-card-header>
        Solution title
    </mat-card-header>
    <p class="good_font2">&ensp;&nbsp;Student solution:</p>
    <mat-form-field appearance="outline">
        <mat-label>Enter your solution here</mat-label>
        <textarea matOutput placeholder="Ex. The student solution should be here."  rows="15" style= "width: 100%;"></textarea>
    </mat-form-field>
    <br>
    <p class="good_font2">&ensp;&nbsp;Uploaded content:</p>
    <mat-card>
        <mat-list>
            <mat-list-item> <mat-icon> download </mat-icon> The Solution </mat-list-item>
        </mat-list>
    </mat-card> 
    <br><br>
    <p class="good_font2">&ensp;&nbsp;Grade:&ensp;<input matInput style=" border-radius: 15px; height: 50px;width: 100px;
    font-family: Arial, sans-serif; font-size:25px">&ensp;/ 10</p>
    <br>
    <p class="good_font2">&ensp;&nbsp;Feedback (am uitat pe backend sa fac asta):</p>
    <button mat-icon-button class="blue_button">
        Submit
    </button>
    <br>  

</mat-card>