<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ currentCourse }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="menuItems && menuItems.length > 0">
    <div *ngFor="let item of menuItems" (click)="selectCourse(item.label)" class="course-item">
      {{ item.label }}
    </div>
  </ng-container>
</mat-expansion-panel>

<p class="title">My grades</p>
<br><br>
<mat-card>
  <ng-container *ngIf="assignments && assignments.length > 0; else noAssignments">
    <div *ngFor="let assignment1 of assignments">
      <div *ngFor="let assignment2 of assignment1" class="assignment-item">
        <h3>{{ assignment2.lesson_name }}</h3>
        <p><strong>Grade:</strong> {{ assignment2.grade }}</p>
      </div>
    </div>
  </ng-container>
  <ng-template #noAssignments>
    <p>No assignments available.</p>
  </ng-template>
</mat-card>

<br><br>
<p class="title">My attendance</p>
<br><br>
<mat-card class="custom-card">
  <div *ngIf="currentCourse" class="attendance-section">
    <mat-progress-bar class="custom-progress-bar" mode="determinate" [value]="attendancePercentage"></mat-progress-bar>
    <div class="attendance-details">
      <div class="attendance-item">
        <span class="bullet total-students"></span> Total lessons: {{ totalLessons }}
      </div>
      <div class="attendance-item">
        <span class="bullet attended"></span> Attended: {{ attendedStudents }}
      </div>
    </div>
  </div>

  <div *ngIf="allLessons" class="attendance-section">
    <div *ngIf="getLessonNames().length > 0; else noLessons">
      <div class="attendance-list">
        <div class="attendance-row" *ngFor="let lessonName of getLessonNames()">
          <div class="attendance-lesson">
            {{ lessonName }}
          </div>
          <div class="attendance-status">
            <span>{{ isLessonAttended(lessonName) ? 'Attended' : 'Skipped' }}</span>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noLessons>
      <p>No lessons available.</p>
    </ng-template>
  </div>
</mat-card>
