<mat-toolbar class="nav">
    <!-- <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <!-- <div class="logo-search">
        <img class="logo" src="/assets/img/logo_only_text.png" alt="Logo">
        <mat-form-field>
            <input matInput placeholder="Search" type="text">
            <button mat-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div> -->
    <div class="logo-search">
        <img class="logo" src="/assets/img/logo_only_text.png" alt="logo">
        <form class="small-input-density" #searchForm="ngForm" (ngSubmit)="onSearchSubmit(searchForm)">
            <mat-form-field class = "search" appearance="outline" color="primary">
                <input matInput placeholder="Search" type="text" name="search" ngModel>
                <button mat-icon-button matSuffix color="primary" type="submit">
                    <mat-icon>search</mat-icon>
                </button> 
            </mat-form-field>
        </form>

        <div class="navigation">
          <button mat-button [color]="( isCurrentPage('/')) ? 'primary' : ''" (click)="navigate('')">Home</button>
          <button mat-button [color]="isCurrentPage('/courses') ? 'primary' : ''" (click)="navigate('courses')">Courses</button>
          <button mat-button [color]="isCurrentPage('/about') ? 'primary' : ''" (click)="navigate('about')">About</button>
          <button mat-button [color]="isCurrentPage('/contact') ? 'primary' : ''" (click)="navigate('contact')">Contact Us</button>
        </div>
    </div>

    <app-navbar-action></app-navbar-action>
  </mat-toolbar>
  
  <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <mat-list-item>Home</mat-list-item>
        <mat-list-item>Features</mat-list-item>
        <mat-list-item>Pricing</mat-list-item>
        <mat-list-item>Contact</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 100px;">Blala</div>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  