<mat-card>
  <h6 class="title">Category: {{ course.category }}</h6>
  <div class="img-area">
    <img [src]="readImage(course.imageContents)" />
  </div>
  <!-- <div class="rectangle-19">
    </div>
    <div class="frame-24">
        <div class="rate-4-2"> Rate: 4.2 </div>
        <div class="mat-rating">
            <div class="mat-btn">
                <div class="v-icon"> star </div>
            </div>
            <div class="mat-btn">
                <div class="v-icon"> star </div>
            </div>
            <div class="mat-btn">
                <div class="v-icon"> star </div>
            </div>
            <div class="mat-btn">
                <div class="v-icon2"> star </div>
            </div>
            <div class="mat-btn2">
                <div class="v-icon2"> star </div>
            </div>
        </div>
    </div> -->
  <div class="content">
    <div class="antet">
      <p>Difficulty: {{ course.difficulty }}</p>
      <p>Duration: {{ hoursDuration }}h {{ minutesDuration }}m</p>
    </div>
    <div class="text-area">
      <p class="title">What you will learn:</p>
      <p class="body">{{ course.learningTopics }}</p>
    </div>
    <div class="text-area">
      <p class="title">Prerequisites needed:</p>
      <p class="body">{{ course.prerequisites }}</p>
    </div>
    <div class="card-details">
      <div class="course-info-card">
        <mat-icon> signal_cellular_alt </mat-icon>
        <p class="title">Beginner Level</p>
      </div>
      <div class="course-info-card">
        <p class="data">2,355</p>
        <p class="title">Students</p>
      </div>
    </div>
    <div class="action" *ngIf="!isTeacherOwner">
      <button mat-flat-button (click)="enroll()">Enroll</button>
    </div>
    <div class="action" *ngIf="isTeacherOwner">
      <div class="small">
        <button mat-flat-button (click)="editCourse()">Edit</button>
        <button mat-flat-button (click)="deleteCourse()">Delete</button>
      </div>
      <button id="newLesson" mat-stroked-button (click)="addLesson()">
        Add new Lesson
        <mat-icon iconPositionEnd> add </mat-icon>
    </button>
    </div>
  </div>
</mat-card>
