<mat-card>
    <h6 class="title"> Category: curs </h6>
    <img src="/assets/img/course_placeholder.png" />
    <!-- <div class="rectangle-19">
    </div>
    <div class="frame-24">
        <div class="rate-4-2"> Rate: 4.2 </div>
        <div class="mat-rating">
            <div class="mat-btn">
                <div class="v-icon"> star </div>
            </div>
            <div class="mat-btn">
                <div class="v-icon"> star </div>
            </div>
            <div class="mat-btn">
                <div class="v-icon"> star </div>
            </div>
            <div class="mat-btn">
                <div class="v-icon2"> star </div>
            </div>
            <div class="mat-btn2">
                <div class="v-icon2"> star </div>
            </div>
        </div>
    </div> -->
    <div class="content">
        <div class="antet">
            <p> Difficulty: Beginner </p>
            <p> Duration: 2h 21m </p>
        </div>
        <div class="text-area">
            <p class="title"> What you will learn: </p>
            <p class="body"> Chestii random ...dwadaw fs fesf awdwa fsf, adwdaw, fess, dawd </p>
        </div>
        <div class="text-area">
            <p class="title"> What you will learn: </p>
            <p class="body"> Chestii random ...dwadaw fs fesf awdwa fsf, adwdaw, fess, dawd </p>
        </div>
        <div class="card-details">
            <div class="course-info-card">
                <mat-icon> signal_cellular_alt </mat-icon>
                <p class="title"> Beginner Level </p>
            </div>
            <div class="course-info-card">
                <p class="data"> 2,355 </p>
                <p class="title"> Students </p>
            </div>
        </div>
        <button mat-flat-button>Enroll</button>
    </div>
</mat-card>