mat-form-field {
    width: 100%;
    max-width: 300px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

button {
    margin-left: 10px;
}


.error-message {
    color: red;
    /* Ensure error messages are visible */
}

.custom-button {
    font-size: 12px;
    /* Smaller font size */
    padding: 4px 8px;
    /* Less padding */
    // background-color: gray;
    /* Gray background color */
    color: black;
    /* White text color */
    box-shadow: none;
    /* Remove box-shadow for a less visible look */
    border: 1px solid darkgray;
    /* Optional: border for contrast */
    opacity: 0.7;
    /* Slightly transparent */
    border-radius: 9px;
}

.custom-button:hover {
    background-color: darkgray;
    /* Darker gray on hover */
    color: white;
    /* Keep text color white on hover */
}

//----------------------------------
.feedback-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 10px;
}

.feedback-card {
    //margin: 20px 300px 10px 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    gap: 10px;

    .card-header {
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .subject {
                font-weight: bold;
            }

            .name {
                font-size: 1.6em;
            }

            .email {
                font-size: 1em;
                color: gray;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;

            .stars {
                font-size: 1.2em;
                color: #FDD835;
                /* Star color */
            }

            .date {
                font-size: 1em;
                color: gray;
            }
        }
    }

    .card-body {
        .title {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .message {
            font-size: 0.9em;
        }
    }
}

.paginator {
    display: flex;
    justify-content: end;

    margin-top: 20px;
    width: 100%;
    
    // align-items: flex-end;
    mat-paginator {
        border-radius: 10px;
        width: 100%;
    }
}

.feedbackElements {
    .title-container {
        text-align: left;
        padding: 30px 40px 20px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 70%;
        .title {

            h1 {
                font-size: 2em;
                margin: 0;
            }

            h2 {
                font-size: 1em;
                color: gray;
                margin: 0;
            }
        }
    }

    .filter-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;

        mat-card {
            width: calc(100% - 250px); // Adjust width as needed
        }

        .filter {
            .mat-expansion-panel-header {
                font-size: 1.2em;
            }
        }
    }

    .sorting-menu {
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;

        mat-form-field {
            width: auto;
        }
    }

    .filter-content {
        display: flex;
        justify-content: space-between;

        .left-column,
        .right-column {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
            flex: 1;

            .mat-form-field {
                width: 100%;
                max-width: 300px;
            }
        }

        .left-column {
            display: flex;
                flex-wrap: wrap;
                flex-direction: column;
        }

        .right-column {
            .isAnonymus {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            button {
                margin-top: 10px;
            }
        }
    }
}

.custom-button {
    font-size: 12px;
    padding: 4px 8px;
    color: black;
    box-shadow: none;
    border: 1px solid darkgray;
    opacity: 0.7;
    border-radius: 9px;
}

.custom-button:hover {
    background-color: darkgray;
    color: white;
}

//-----------------------this for the feedback card
// .feedback-card {
//     margin: 10px;
//     padding: 10px;

//     .header-left {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;

//         .subject {
//             font-weight: bold;
//             font-size: 18px;
//         }

//         .details {
//             display: flex;
//             flex-direction: column;
//             font-size: 14px;
//         }
//     }

//     .header-right {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-end;

//         .date {
//             font-size: 14px;
//             margin-bottom: 5px;
//         }

//         .stars {
//             display: flex;

//             mat-icon {
//                 color: #ffc107;
//             }
//         }
//     }
// }