<div class="content">
    <mat-card class="formaddlesson">
        <mat-card-header>
            <mat-card-title class="title">Add lesson</mat-card-title>
            <mat-card-subtitle class="textadd">Fill the form for adding a new lesson to the course</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="addLessonForm" (ngSubmit)="onSubmit()">
                <div class="form-group-row">
                    <div class="form-group">
                        <label class="lesson-title" for="lesson-title">Lesson title:</label>
                        <input formControlName="lessonName" type="text" id="lesson-title" placeholder="Cursul meu bun">
                    </div>
                    <div class="form-group">
                        <label class="lesson-title" for="lesson-date">Lesson date:</label>
                        <input formControlName="lessonDueDate" type="date" id="lesson-date" value="2024-12-03">
                    </div>
                </div>
                <div class="form-group">
                    <label class="lesson-title" for="lesson-description">Lesson description:</label>
                    <textarea formControlName="lessonDescription" id="lesson-description" placeholder="Text..."></textarea>
                </div>
                <div class="form-group">
                    <label class="lesson-title" for="lesson-content">Lesson content:</label>
                    <textarea formControlName="lessonContent" id="lesson-content" placeholder="Text..."></textarea>
                </div>
                <div class="form-group-row">
                    <button class="add-assignment-pdf" type="button">Add assignment PDF</button>
                    <span class="pdf-name">Assignment_1_finalv3.pdf</span>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label class="lesson-title" for="assignment-title">Assignment title:</label>
                        <input formControlName="assignmentTitle" type="text" id="assignment-title" placeholder="Cursul meu bun">
                    </div>
                    <div class="form-group">
                        <label class="lesson-title" for="assignment-due-date">Assignment due date:</label>
                        <input formControlName="assignmentDueDate" type="date" id="assignment-due-date" value="2024-12-03">
                    </div>
                </div>
                <div class="form-group">
                    <label class="lesson-title" for="assignment-short-description">Assignment short description:</label>
                    <textarea formControlName="assignmentShortDescription" id="assignment-short" placeholder="Text..."></textarea>
                </div>
                <div class="form-group">
                    <label class="lesson-title" for="assignment-task">Assignment task:</label>
                    <textarea formControlName="assignmentTask" id="assignment-task" placeholder="Text..."></textarea>
                </div>
                <div class="form-group-row end">
                    <button class="submit-button" type="submit">CREATE</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
