mat-form-field {
    width: 100%;
    max-width: 300px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

button {
    margin-left: 10px;
}


.error-message {
    color: red;
    /* Ensure error messages are visible */
}

.custom-button {
    font-size: 12px;
    /* Smaller font size */
    padding: 4px 8px;
    /* Less padding */
    // background-color: gray;
    /* Gray background color */
    color: black;
    /* White text color */
    box-shadow: none;
    /* Remove box-shadow for a less visible look */
    border: 1px solid darkgray;
    /* Optional: border for contrast */
    opacity: 0.7;
    /* Slightly transparent */
    border-radius: 9px;
}

.custom-button:hover {
    background-color: darkgray;
    /* Darker gray on hover */
    color: white;
    /* Keep text color white on hover */
}