<footer>
    <div class="left">
        <span class="sitemap"> Sitemap </span>
        <div class="navigation">
            <button mat-button href="/">Home</button>
            <button mat-button href="/courses">Courses</button>
            <button mat-button href="/about">About</button>
            <button mat-button href="/contact">Contact Us</button>
        </div>
    </div>
    <div class="right">
        <div class="social-media">
            <img src="/assets/img/instagram_icon.png" alt="Instagram">
            <img src="/assets/img/facebook_icon.png" alt="Instagram">
            <img src="/assets/img/x_icon.png" alt="Instagram">
            <img src="/assets/img/linkedin_icon.png" alt="Instagram">
        </div>
        <span class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia viverra lectus sit amet dapibus. Vestibulum in ullamcorper magna. </span>
    </div>
</footer>