<div class="content">
    <div class="header-banner">
        <div class="banner-title" *ngIf="current_course">
            {{current_course.shortDescription}}
          </div>
          <div class="banner-content" *ngIf="current_course">
            <p>{{current_course.shortDescription}}</p>
          </div>
   
</div>
<div>
    <mat-card>
        <mat-card-header>
            <div *ngIf="current_lesson">
                <p>{{current_lesson.name}}</p>
            </div>
        </mat-card-header>
        <div *ngIf="current_lesson" style="padding-bottom: 20px;">
            <p>&ensp;&nbsp;{{current_lesson.description}}</p>
        </div>
        <br>
        <mat-card-content>
            <div *ngIf="current_lesson">
                <p>{{current_lesson.lesson_Content}}</p>
            </div>
        </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card>
        <mat-card-header>
            <div *ngIf="current_assignment">
                <div *ngFor="let assignment of current_assignment">
                <p>
                {{assignment.assignment_name}}
                </p>
                </div>
            </div>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div *ngIf="current_assignment">
                <div *ngFor="let assignment of current_assignment">
                <p>
                {{assignment.assignment_description}}
                </p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-header>
            Solution title
        </mat-card-header>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Enter the title of your solution here</mat-label>
            <textarea matInput placeholder="Ex. My attempt." [(ngModel)]="solution.solution_title"></textarea>
          </mat-form-field>
          <mat-card-header>
            Solution
          </mat-card-header>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Enter your solution here</mat-label>
            <textarea matInput placeholder="Ex. First question: the answer is 45." [(ngModel)]="solution.solution" rows="20"></textarea>
          </mat-form-field>
          <br>          
        <div>
            <div>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
            
            <button mat-icon-button class="blue_button" (click)="triggerFileInput()">
                <mat-icon> upload </mat-icon>
                Upload Files
            </button>
            <div *ngIf="fileName">
                <p>{{ fileName }}</p>
              </div>
            </div>

        </div>
        <br>  
        <button mat-icon-button class="green_button" (click)="onSubmit()" [disabled]="!isFormValid()">
            Submit
        </button>
        <br>

    </mat-card>
</div>
