<div class="content">
    <div class="header-banner">
      <div class="banner-title">Hair Animation and Polishing Details</div>
      <div class="banner-content">
        Let's look at different communicating styles based on the style of ones decision making; we will explore the charismatics, the thinkers, the skeptics, the followers and the controllers, in this lesson. Persuasion is a big part of communicating; in this lesson we explore the persuasion principles; liking and reciprocity.
Persuasion is a big part of communicating; in this lesson we explore the persuasion principles; social proof and consistency.Persuasion is a big part of communicating; in this lesson we explore the persuasion principles; authority and scarcity.
      </div>
    <mat-card class="mat-card1">
        <p>Final grade: 9.45</p>
    </mat-card>
    <mat-card class="mat-card2">
        <p>Grade: 5.12</p>
    </mat-card>
</div>

<mat-card>
    <mat-card-header>
        <p>Lesson</p>
    </mat-card-header>
    <mat-card-content>
      <div class="content">
        <div>
          <div class="datas secondary-text">
            <span> </span>
          </div>
          <p class="title">
          </p>
        </div>
        <span class="prereq">  </span>
      </div>

      <button mat-icon-button class="frame-18">
      </button>
    </mat-card-content>
  </mat-card>