<div class="content">
  <div class="header-banner">
    <div class="banner-title">
      {{ current_lesson?.name }}
    </div>
    <div class="banner-content">
      <p>{{ current_lesson?.description }}</p>
    </div>
    <app-lesson-action-area [currentGrade]="current_grade?.grade" [finalGrade]="final_grade"></app-lesson-action-area>
    
  </div>
  <div>
    <mat-card>
      <mat-card-header>
          <p>Lesson</p>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="current_lesson">
          <p>{{ current_lesson.lesson_Content }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <br /><br />
    
    <mat-card>
      <mat-card-header>
        <div *ngIf="current_assignment">
          <div *ngFor="let assignment of current_assignment">
            <p>
              Assignment: {{ assignment.assignment_name }}
            </p>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="current_assignment">
          <div *ngFor="let assignment of current_assignment">
            <p>
              {{ assignment.assignment_description }}
            </p>
          </div>
        </div>
      </mat-card-content>
      <br />
      <mat-card-header> Solution title </mat-card-header>
      <mat-form-field appearance="outline">
        <mat-label>Enter the title of your solution here</mat-label>
        <textarea
          matInput
          placeholder="Ex. My attempt."
          [(ngModel)]="solution.solution_title"
        ></textarea>
      </mat-form-field>
      
      <mat-card-header> Solution </mat-card-header>
      <mat-form-field appearance="outline">
        <mat-label>Enter your solution here</mat-label>
        <textarea
          matInput
          placeholder="Ex. First question: the answer is 45."
          [(ngModel)]="solution.solution"
          rows="20"
        ></textarea>
      </mat-form-field>
      <br />
      <div>
        <div>
          <input
            type="file"
            id="fileInput"
            (change)="onFileSelected($event)"
            style="display: none"
          />

          <button
            mat-icon-button
            class="blue_button"
            (click)="triggerFileInput()"
          >
            <mat-icon> upload </mat-icon>
            Upload Files
          </button>
          <div *ngIf="fileName">
            <p>{{ fileName }}</p>
          </div>
        </div>
      </div>
      <br />
      <button
        mat-icon-button
        class="green_button"
        (click)="onSubmit()"
        [disabled]="!isFormValid()"
      >
        Submit
      </button>
      <br />
    </mat-card>
  </div>
</div>
