<div class="main-container">

    <section id="product-introduction">
        <div class="section-title white-text">
            EduTrack - All of your learning in one place
        </div>

        <div class="text-container">

            <div class="secondary-text white-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent lacinia viverra lectus sit amet dapibus.
                Vestibulum in ullamcorper magna.
                Sed nec lectus neque. Duis faucibus risus nisl, eget consectetur magna pharetra facilisis
            </div>


            <div class="secondary-text white-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent lacinia viverra lectus sit amet dapibus.
                Vestibulum in ullamcorper magna.
                Sed nec lectus neque. Duis faucibus risus nisl, eget consectetur magna pharetra facilisis
            </div>

            <div class="secondary-text white-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent lacinia viverra lectus sit amet dapibus.
                Vestibulum in ullamcorper magna.
                Sed nec lectus neque. Duis faucibus risus nisl, eget consectetur magna pharetra facilisis
            </div>

            <div class="secondary-text white-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent lacinia viverra lectus sit amet dapibus.
                Vestibulum in ullamcorper magna.
                Sed nec lectus neque. Duis faucibus risus nisl, eget consectetur magna pharetra facilisis
            </div>
        </div>


    </section>

    <section id="team-introduction">
        <div class="section-title black-text">
            Meet Our Team
        </div>

        <div class="members-container">
            <div class="first-row">

                <div class="member-presentation-container">
                    <img src="assets/img/alexandra.jpeg" />
                    <div class="card-text-container">
                        <div class="card-text bold-text">
                            Alexandra Kerestely
                        </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent lacinia viverra lectus sit amet dapibus.
                        </div>
                    </div>
                </div>

                <div class="member-presentation-container">
                    <img src="assets/img/andrei.jpg" />
                    <div class="card-text-container">
                        <div class="card-text bold-text">
                            Andrei Zacordonet
                        </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent lacinia viverra lectus sit amet dapibus.
                        </div>
                    </div>
                </div>

                <div class="member-presentation-container">
                    <img src="assets/img/catalin.jpg" />
                    <div class="card-text-container">
                        <div class="card-text bold-text">
                            Catalin Asmarandei
                        </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent lacinia viverra lectus sit amet dapibus.
                        </div>
                    </div>
                </div>
                

            </div>

            <div class="second-row">
                <div class="member-presentation-container">
                    <img src="assets/img/diana.jpg" />
                    <div class="card-text-container">
                        <div class="card-text bold-text">
                            Diana Chelea
                        </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent lacinia viverra lectus sit amet dapibus.
                        </div>
                    </div>
                </div>

                <div class="member-presentation-container">
                    <img src="assets/img/dragos.jpg" />
                    <div class="card-text-container">
                        <div class="card-text bold-text">
                            Dragos Ciosnar
                        </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent lacinia viverra lectus sit amet dapibus.
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>