<mat-card>
    <mat-card-header>
        <button mat-icon-button class="quotes">
            <mat-icon>format_quote </mat-icon>
        </button>
    </mat-card-header>
       
    <mat-card-content>
      <div class="content">

            <div class="feedback-name">
                Anon Anon
            </div>
          <div class="feedback-text">
            <span>
              I found exactly what I needed to boost my skills and land my dream job. 
              The courses are top-notch and the instructors are amazing. 
              The variety of courses available is fantastic. 
              The platform is user-friendly, and I love being able to learn at my own pace. Highly recommend! 
            </span>
        
        </div>

      </div>
      
    </mat-card-content>
  </mat-card>
  
