<div class="content">
    <div class="checkattendanceform">
        <h1 class="title">Check attendance</h1>
        <div class="table">
            <div class="header">
                <div class="header-item">Name</div>
                <div class="header-item">Email</div>
                <div class="header-item">Status</div>
            </div>
            <div class="table-body">
                <div class="row">
                    <div class="cell name-cell">
                        <span class="material-icons">person</span>
                        Ionut Ivan
                    </div>
                    <div class="cell email">ionut.ivan@gmail.com</div>
                    <div class="cell status-cell">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="row">
                    <div class="cell name-cell">
                        <span class="material-icons">person</span>
                        Maria Popescu
                    </div>
                    <div class="cell email">maria.popescu@gmail.com</div>
                    <div class="cell status-cell">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="row">
                    <div class="cell name-cell">
                        <span class="material-icons">person</span>
                        Andrei Ionescu
                    </div>
                    <div class="cell email">andrei.ionescu@gmail.com</div>
                    <div class="cell status-cell">
                        <input type="checkbox">
                    </div>
                </div>
            </div>
            <div class="submit-container">
                <button class="submit-button">Submit</button>
            </div>
        </div>
    </div>
</div>