<div class="continer">
  <div class="side">
    <div class="category">
      <mat-menu> </mat-menu>
      <button mat-menu-item class="title" (click)="categorySelect('')">
        Category
      </button>

      <button
        *ngFor="let category of filtersAvailable?.categories"
        [ngClass]="category === categorySelected ? 'selected' : ''"
        mat-menu-item
        (click)="categorySelect(category)"
      >
        <span>{{ category }}</span>
      </button>

      <!-- <button mat-menu-item class="selected">
        <span>Categorie</span>
      </button> -->
    </div>
    <div class="prereq">
      <span class="title"> Prerequisites </span>
      <mat-checkbox
        *ngFor="let prereq of filtersAvailable?.prerequistes"
        [(ngModel)]="prerequisites[prereq]"
        (change)="onPrerequisitesChange(prereq, $event.checked)"
        >{{ prereq }}</mat-checkbox
      >
    </div>
  </div>
  <div class="content">
    <div class="header-banner">
      <div class="banner-title">Discover our Courses</div>
      <div class="banner-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        lacinia viverra lectus sit amet dapibus. Vestibulum in ullamcorper
        magna. Sed nec lectus neque. Duis faucibus risus nisl, eget consectetur
      </div>
    </div>

    <div class="sort-bar">
      <div class="option">
        <span>Sort by: </span>
        <mat-form-field appearance="outline">
          <mat-select [(value)]="sortBy" (selectionChange)="sortBySelected($event.value)">
            <mat-option value="relv">Relevant</mat-option>
            <mat-option value="asc">Ascendent</mat-option>
            <mat-option value="desc">Descendent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="option">
        <span>Difficutly: </span>
        <mat-form-field appearance="outline">
          <mat-select
            [(value)]="difficulty"
            (selectionChange)="difficultySelected($event.value)"
          >
            <mat-option value="all">All</mat-option>
            <mat-option
              *ngFor="let difficutly of filtersAvailable?.difficulties"
              [value]="difficutly"
              >{{ difficutly }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="display-page">
      <div class="courses-display">
        <app-course
          *ngFor="let course of displayedCourses"
          [course]="course"
        ></app-course>
      </div>
    </div>
    <mat-paginator #paginator [length]="courses.length"
              (page)="handlePageEvent($event)"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page">
    </mat-paginator>
  </div>
</div>
