@import "src/config/variables";

:host{
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      }

      .header-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        background: $color-accent3;
        height: 230px;
        padding: 97px 300px 50px 55px;
        
    
        .banner-title {
          color: $color-bg;
          font-size: 42px;
          font-weight: 700;
          margin-left: 100px;
        }
        .banner-content {
          color: $color-bg;
          font-size: 24px;
          font-weight: 400;
          max-width: 1300px;
          padding-bottom: 100px;
          margin-left: 100px;
        }
        mat-card{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .mat-card1{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            
            border-radius: 20px;
            
            font-size: 20px;
            font-weight: 600;
            color: #050B0C;
            line-height: 18px;
            position: absolute;
            width: 250px;
            height: 54px;
            left: 1550px;
            top: 169px;
        }
        
        .mat-card2{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            
            border-radius: 20px;

            font-size: 20px;
            font-weight: 600;
            color: #050B0C;
            line-height: 18px;
            position: absolute;
            width: 250px;
            height: 54px;
            left: 1550px;
            top: 250px;
            
        }

        
    }
    
    mat-card {
        display: flex;
        flex-direction: column;
        margin: 0 auto; 
        width: 90%; 
        border-radius: 20px;
        mat-card-header{
            font-size: 20px;
            font-weight: 600;
            button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0px 16px;
                gap: 16px;

                width: 234px;
                height: 44px;

                background: #009DD6;
                border-radius: 14px;
                margin-left: auto;

                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;

                color: #FAFCFC;

            }
        }
    }

    .blue_button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 16px;
        gap: 16px;


        width: 234px;
        height: 44px;

        background: #009DD6;
        border-radius: 14px;

        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        color: #FAFCFC;
        
    }

    .green_button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 16px;
        gap: 16px;


        width: 234px;
        height: 44px;

        background: rgba(21, 219, 149, 1);
        border-radius: 14px;

        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        align-self: center;

        color: #FAFCFC;
    }

    .center_div{
        display: flex;
        justify-content: center; 
        align-items: center; 
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;

    }
       
}