
<div class="content">
    <div class="header-banner">
      <div class="banner-title" *ngIf="current_course">
        {{current_course.shortDescription}}
      </div>
      <div class="banner-content" *ngIf="current_course" style="margin-top:12px">
        <p>{{current_course.shortDescription}}</p>
      </div>
      <mat-card class="mat-card1">
        <div *ngIf="final_grade">
            <p>Final grade: {{final_grade}}</p>
        </div>
    </mat-card>
    <mat-card class="mat-card2">
        <div *ngIf="current_grade">
            <p>Grade: {{current_grade}}
        </div>
    </mat-card>
</div>
<div>
    <mat-card>
        <mat-card-header>
            <div *ngIf="current_lesson">
                <p>{{current_lesson.name}}</p>
            </div>
        </mat-card-header>
        <div *ngIf="current_lesson" style="padding-bottom: 20px;">
            <p>&ensp;&nbsp;{{current_lesson.description}}</p>
        </div>
        <br>
        <mat-card-content>
            <div *ngIf="current_lesson">
                <p>{{current_lesson.lesson_Content}}</p>
            </div>
        </mat-card-content>
    </mat-card>
    <br><br>
    <mat-card>
        <mat-card-header>
            <div *ngIf="current_assignment">
                <div *ngFor="let assignment of current_assignment">
                <p>
                <mat-icon>lock </mat-icon>
                {{assignment.assignment_name}}
                </p>
                </div>
            </div>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div *ngIf="current_assignment">
                <div *ngFor="let assignment of current_assignment">
                <p>
                {{assignment.assignment_preview}}
                </p>
                </div>
            </div>
        </mat-card-content>
        <br>
        <div class="center_div">
            FINISH THE LESSON TO UNLOCK ASSIGNMENT!
        </div>
        <br>

    </mat-card>
</div>
</div>
