:host {
  mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mat-card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    border-radius: 20px;

    font-size: 20px;
    font-weight: 600;
    color: #050b0c;
    line-height: 18px;
    position: absolute;
    width: 250px;
    height: 54px;
    left: 1550px;
    top: 169px;
  }

  .mat-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    border-radius: 20px;

    font-size: 20px;
    font-weight: 600;
    color: #050b0c;
    line-height: 18px;
    position: absolute;
    width: 250px;
    height: 54px;
    left: 1550px;
    top: 250px;
  }
}
