<div class="continer">
  <mat-card>
    <mat-card-content>
      <div class="avatar">{{ userAvatar }}</div>
      <div>
        <p class="name">{{ userInfo?.firstName }} {{ userInfo?.lastName }}</p>
        <p class="email">{{ userInfo?.email }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="menu">
        <mat-menu> </mat-menu>
        <button
          mat-menu-item
          (click)="navigateTo('/dashboard')"
          [ngClass]="isCurrentPage('/') ? 'selected' : ''"
          *ngIf="!auth.isAdmin()"
        >
          Dashboard
        </button>
        <button
          mat-menu-item
          (click)="navigateTo('/dashboard/my-courses')"
          [ngClass]="isCurrentPage('/courses') ? 'selected' : ''"
          *ngIf="!auth.isAdmin() && !auth.isTeacher()"
        >
          My Courses
        </button>
        <button
          mat-menu-item
          (click)="navigateTo('/dashboard/courses')"
          [ngClass]="isCurrentPage('/courses') ? 'selected' : ''"
          *ngIf="auth.isTeacher()"
        >
          My Courses
        </button>
        <button
          mat-menu-item
          (click)="navigateTo('/dashboard/enrolled')"
          [ngClass]="isCurrentPage('/enrolled') ? 'selected' : ''"
          *ngIf="auth.isTeacher() && !auth.isAdmin()"
        >
          Enrolled Students
        </button>
        <button
          mat-menu-item
          (click)="navigateTo('/dashboard/feedback')"
          [ngClass]="isCurrentPage('/feedback') ? 'selected' : ''"
          *ngIf="auth.isAdmin()"
        >
          Feedback
        </button>
      </div>
      <div class="menu secondary-theme">
        <button
          *ngIf="auth.isTeacher()"
          (click)="addCourse()"
          class="action-button"
          mat-flat-button
          color="primary"
        >
          Add course
          <mat-icon iconPositionEnd>note_add</mat-icon>
        </button>
        <button
          *ngIf="auth.isAdmin()"
          (click)="addTeacher()"
          class="action-button"
          mat-flat-button
          color="primary"
        >
          Add teacher
          <mat-icon iconPositionEnd>add</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
